<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user , html: { multipart: true } do |f| %>
      
      <% if @user.errors.full_messages.any? %>
        <p class="alert alert-danger">
          <% @user.errors.full_messages.each do |error_message| %>
            - <%= error_message %><br />      
          <% end %>
        </p>
      <% end %>

      <div class="form-input">
        <%= f.label :email, t('models.user.email') %>
        <%= f.email_field :email, class: "form-control" %>
        <br />
      </div>

      <div class="form-input">
        <%= f.label :username, t('models.user.username') %>
        <%= f.text_field :username, class: "form-control" %>
        <br />
      </div>

      <%= f.fields_for :profile do |builder| %>
        <%= render "users/shared/profile_fields", f: builder %>
      <% end %>

      <div class="form-input">
        <%= f.label :password, t('models.user.password') %>
        <%= f.password_field :password, class: 'form-control' %>
        <br />
      </div>

      <div class="form-input">
        <%= f.label :password_confirmation, t('models.user.password_confirmation') %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br />
      </div>

      <div class="form-input">      
        <%= f.submit t('buttons.confirm_update'), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>