<div class="form-input">
  <%= f.label :name, t('models.profile.name') %> 
  <%= f.text_field :name, class: "form-control" %>
  <br /> 
</div>

<div class="form-input">
  <%= f.label :bio, t('models.profile.bio') %> 
  <%= f.text_area :bio, class: "form-control" %>
  <br /> 
</div>

<div class="form-input">
  <%= f.label :avatar, t('models.profile.avatar') %>
  <%= f.file_field :avatar, as: :file %>
  <br />
</div>