<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag current_user.profile.avatar.url(:medium) %> <br /> 
        <h1><%= current_user.profile.name %> <small><%= current_user.username%></small></h1>
      </div>
    </div>
      
    <h2><small><%= current_user.profile.bio %></small></h2> 
    <br />
    <div class="row">
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li>Seguindo: <%= current_user.following.count %></li>
          <li>Seguidores: <%= current_user.followers.count %></li>
          <li>Tweets: <%= current_user.tweets.count %></li>
        </ol>         
      </div>
    </div>
  </div>

  <br />

  <%= render "tweets/shared/form_new_tweet", tweet: current_user.tweets.new %>
    
  <br />

  <h3>Últimos Tweets</h3>

  <br />

  <% @tweets.each do |tweet| %>
    <div class="jumbotron">
      <div class="row">
      <div class="col-xs-2">
        <%= image_tag tweet.user.profile.avatar.url(:thumb) %>
        <strong><%= tweet.user.username %> em <%= tweet.created_at.strftime("%d/%m/%Y ás %H:%M") %></strong>    
      </div>
      <h4><%= tweet.content %></h4>
    </div>
    </div>  
  <% end %>
</div>

<%= render "users/shared/form_modal" %>