<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <% if @user.profile.avatar_file_name.nil? %><br />
          <%= image_tag "user_big.png" %>
        <% else %>
          <%= image_tag @user.profile.avatar.url(:medium) %><br /> 
        <% end %>
        <h1><%= @user.profile.name %> <small><%= @user.username%></small></h1>
      </div>
    </div>
      
    <h2><small><%= @user.profile.bio %></small></h2> 
    <br />
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>Seguindo: <%= @user.following.count %></li>
          <li>Seguidores: <%= @user.followers.count %></li>
          <li>Tweets: <%= @user.tweets.count %></li>
        </ol>        
        <% if current_user.following?(@user)%>
          <%= render 'users/shared/unfollow' %>
        <% else %>
          <%= render 'users/shared/follow' %>
        <% end %>
      </div>
    </div>
  </div>

  <div style="margin: 50px;"></div>

  <h3>Últimos Tweets</h3>

  <div style="margin: 30px;"></div>

  <% @user.tweets.each do |tweet| %>
    <div class="jumbotron">
      <div class="row">
      <div class="col-xs-2">
        <%= image_tag tweet.user.profile.avatar.url(:thumb) %>
        <strong><%= @user.username %> em <%= tweet.created_at.strftime("%d/%m/%Y ás %H:%M") %></strong>    
      </div>
      <h4><%= tweet.content %></h4>
    </div>
    </div>  
  <% end %>
</div>
