<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center login-title">Bem vindo ao Twitter!</h2>
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@org.com" %><br />
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Insira a Senha" %> <br />
        </div>

        <div class="pull-left">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Lembrar" %>
        </div>

        <div class="actions">
          <%= f.submit "Logar", class: "btn btn-lg btn-primary btn-block" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>